html,
body,
#app{
    height:100%;
    margin: 0;
    padding: 0;
    min-width:900px;     
}
*{
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    padding: 15px 30px;
    font-size:16px !important;
}
.el-breadcrumb__inner {
    color:#aaa;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color:#aaa;
}
.indexText {
  display: block;
  margin: 0 30px;
  font-size:20px;
}
.el-form-item__error {
    position: relative;
    top: 10px;
    font-size: 14px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table {
    margin-top:15px;
    font-size:12px !important;
}
.el-pagination {
    margin-top: 15px;
}
.el-image .el-icon-circle-close {
       color: white;
}
.vcenter {
    display: flex;
    align-items: center;
}
.el-dialog {
    border-radius: 7px;
}

